/* loading fonts */
@font-face {
  font-family: "setoFont";
  src: url(../fonts/sjis_sp_setofont.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  background-color: #fafafa;
  background-image: url(../images/lo.jpg);
  background-size: 10rem;
  background-repeat: unset;
  font-family: "setoFont", "umeboshi", sans-serif;
}

.upperPart {
  display: flex;
  width: 60vw;
  gap: 1rem;
  align-self: center;
  align-items: flex-end;
}

#pfp {
  height: 6rem;
  background: #fafafa;
  clip-path: circle();
}

.pfpWrap {
  filter: drop-shadow(0.1rem 0.1rem 0.2rem #323232);
}

.greeting {
  background-color: #fafafa;
  color: #95a0b8;
  border-radius: 1rem;
  align-self: flex-start;
  padding: 1rem;
  margin-top: 1rem;
  align-self: center;
  box-shadow: 0.2rem 0.2rem 0.5rem #3232329c;
}

.searchBar {
  align-self: center;
}

.searchBar input[type="text"] {
  padding: 0.8rem;
  border-radius: 100rem;
  border: 2px solid #918aa896;
  color: #6b7485;
  width: 60vw;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem #3232329c;
}

.searchBar input[type="text"]:focus-visible {
  outline: none;
}

.searchBar input[type="text"]::placeholder {
  color: #6b7c8db0;
}

.lowerPart {
  display: flex;
  justify-content: center; /* Center the containers horizontally */
  flex-wrap: wrap; /* Allow containers to wrap */
  background: rgba(230, 230, 250, 0.452);
  gap: 2rem;
  margin: 1rem 4rem;
}

ul li {
  margin: 0;
  border: 0;
  list-style: none;
  padding: 0.8rem;
}

.container {
  background: #fafafa;
  box-shadow: 0.2rem 0.2rem 0.5rem #3232329c;
  border-radius: 0.3rem;
  flex-basis: 25rem; /* Base width for containers */
  text-align: center;
  padding: 1rem;
}

ul li a {
  font-size: 1.2rem;
  font-weight: 650;
  text-decoration: none;
}

ul li a:visited,
ul li a:link {
  color: #6b7485;
}

ul li a:hover {
  color: #a8b7c2;
}

#sticker1 {
  position: fixed;
  bottom: 0;
  width: 10rem;
}

#sticker2 {
  position: fixed;
  bottom: 50vh;
  left: 10vh;
  width: 10rem;
}

#sticker3 {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 10rem;
  transform: scaleX(-1);
}
